.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
}

.form {
  background-color: #ffffff;
  padding         : 40px 56px 60px 56px;
  border-radius   : 12px;
  box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input {
  &Icon {
    color: rgba(0, 0, 0, .25);
  }

  &Title {
    text-align   : start;
    margin-bottom: 0 !important;
    line-height  : 1em;
  }

  &NoMargin {
    margin: 0
  }

  &Button {
    width        : 100%;
    border-radius: 4px;
    min-height   : 2.5em;
  }
}

.form {
  &Error {
    margin-top: 24px;
  }
}