.title {
  padding         : 20px 0;
  padding-left    : 18px;
  background-color: rgb(24, 144, 255);

  >h1 {
    color        : #e6f7ff;
    margin-bottom: 0;

    i {
      margin-right: 10px
    }
  }
}

.content {
  background-color: #ffffff;
  font-size       : 18px;
}

.log {
  background-color: #ffffff;
  margin          : 12px 20px;
  overflow        : auto;
  height          : calc(100% - 367px);
  border          : rgb(232, 232, 232) 1px solid;
  border-radius   : 5px;
  padding         : 12px 20px;
  font-size       : 16px;
  white-space     : pre-wrap;

  @media (max-width: 991px) {
    height: calc(100% - 540px);
  }

  &AlignCenter {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
}

.manualContainer,
.jobContainer {
  padding      : 12px;
  border-bottom: rgb(232, 232, 232) 1px solid;
}

.manualContainer {
  &Button {
    width: calc(100% - 8px);
  }

  &DateSelect {
    width: 100%
  }

  &Actions {
    display        : flex;
    justify-content: space-between;
  }
}

.jobContainer {
  border-left: rgb(232, 232, 232) 1px solid;
  margin-left: -1px;

  &Button {
    width: 100%;
  }
}

.folderSelect {
  &Container {
    padding         : 5px 12px;
    background-color: #ffffff;
    border-bottom   : rgb(232, 232, 232) 1px solid;

    >div {
      line-height: 1em;
    }
  }

  &Title {
    font-size: 18px;
  }

  &Input {
    width                     : 100%;
    border-right              : none;
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
    background-color          : #ffffff !important;
    color                     : rgba(0, 0, 0, 0.85) !important;
  }

  &Button {
    width                    : 100%;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
  }
}